<html> 
 	<body> 
 		<h3>Hi , Please find the password</h3> 
 		<p> 
 			From - ${newMessage.userId} / ${newMessage.emailId}  
 		</p> 
  		<h3> 
    		with the your password below:
	</h3> 
 		<p> 
			${newMessage.password} 
 		</p> 
 	</body> 
</html> 
