<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/context
		  http://www.springframework.org/schema/context/spring-context-3.2.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.2.xsd">
          
   <beans:import resource="spring-config.xml"/>
   <global-method-security pre-post-annotations="enabled" />

   <http auto-config="true" use-expressions="true">
        <access-denied-handler error-page="/403page"/>
         <intercept-url pattern="/index*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <intercept-url pattern="/tdm*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <intercept-url pattern="/res*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
   		<intercept-url pattern="/find*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
   		<intercept-url pattern="/getD*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
   		<intercept-url pattern="/admin*" access="hasRole('ROLE_ADMIN')" />
   		<intercept-url pattern="/testdispl*" access="hasRole('ROLE_ADMIN')" />
   		<intercept-url pattern="/popupEmail*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />   		
   		<anonymous enabled='false'/>
   		
		<form-login login-processing-url="/tesdaLogin"  login-page="/login"
			username-parameter="userid" password-parameter="password"
			authentication-failure-url="/authFail?auth=fail"
			authentication-success-handler-ref="authenticationSuccessHandler" />
				
		<session-management invalid-session-url="/sessionExp?session=expired" session-authentication-error-url="/sessionExp?session=alreadyLogged" session-fixation-protection="newSession">
		        <concurrency-control error-if-maximum-exceeded="true" max-sessions="5" expired-url="/sessionExp?session=expired" session-registry-ref="sessionRegistry"/>            
		</session-management>
		
		<!-- <session-management invalid-session-url="/tesdaLogin">
		    <concurrency-control max-sessions="1" error-if-maximum-exceeded="true"  />
		</session-management> -->
		
		<logout invalidate-session="true" delete-cookies="jsessionid"/>
		
		<headers>
     	   <cache-control />
   		 </headers>
  </http>

	<beans:bean id="authenticationSuccessHandler" class="com.tdm.handler.UserAuthenticationSuccessHandler" />

<!--  	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user123" password="pass" authorities="ROLE_USER" />
				<user name="tesda" password="tesdapass" authorities="ROLE_ADMIN" />
				<user name="manoranjan" password="sahoo" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>  -->
 
	<authentication-manager>
		<authentication-provider>
		 <jdbc-user-service data-source-ref ="tdmUserDS"
				users-by-username-query="SELECT USER_ID,PASSWORD,ENABLED FROM TDM_USERS WHERE USER_ID=?"
				authorities-by-username-query="SELECT U1.USER_ID,U2.ROLE FROM TDM_USERS U1, TDM_USERS_AUTH U2 WHERE U1.USER_ID = U2.USER_ID AND U1.USER_ID =?" />
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
	<beans:bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<beans:property name="cacheSeconds" value="0" />
	</beans:bean>
</beans:beans>