<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">

	<persistence-unit name="csaaUserPersistenceUnit" >
		<class>com.tesda.model.DO.TdmReservationDO</class>
		<class>com.tesda.model.DO.TdmUserDO</class>
		<class>com.tesda.model.DO.TdmUsersAuthDO</class>
		<class>com.tesda.model.DO.TdmUsersAuthDOPK</class>
		 
		<class>com.tesda.model.DO.CoverageRiskStg</class>
		<class>com.tesda.model.DO.CoverageStg</class>
		<class>com.tesda.model.DO.NoOfDriverStg</class>
		<class>com.tesda.model.DO.NoOfNameInsuStg</class>
		<class>com.tesda.model.DO.NoOfVehiStg</class>
		<class>com.tesda.model.DO.NoOfVioStg</class>
		<class>com.tesda.model.DO.PolicySummaryStg</class>
		<properties>
			<property name = "hibernate.show_sql" value = "true" />
		</properties>
	</persistence-unit>
	  
	<!-- 	FastLane SQL Server END -->
	
</persistence>
